<!DOCTYPE html>
<!-- saved from url=(0014)about:internet -->
<!-- prior comment allows JS to execute on IE when saved as a local file, "MOTW" -->
<!--
JSON_DATA=<%= report_json_data %>
-->

<html lang="en">
  <head>
    <title><%= Inspec::Dist::PRODUCT_NAME %> report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
/* Must inline all CSS files, this is a single-file output that may be airgapped */
<%= ERB.new(File.read(css_path), nil, nil, "_css").result(binding)  %>
    </style>

    <style type="text/css">
/* Must inline all CSS files, this is a single-file output that may be airgapped */
<%= File.read(preety_css_path)  %>
    </style>

    <script type="text/javascript">
// <![CDATA[
/* Must inline all JavaScript files, this is a single-file output that may be airgapped */
<%= File.read(preety_js_path) %>
// ]]>
    </script>
    <script type="text/javascript">
// <![CDATA[
/* Must inline all JavaScript files, this is a single-file output that may be airgapped */
<%= ERB.new(File.read(js_path), nil, nil, "_js").result(binding)  %>
// ]]>
    </script>
  </head>
  <body onload="pageLoaded()">
    <%= ERB.new(File.read(template_path + "/selector.html.erb"), nil, nil, "_select").result(binding)  %>
    <div class="inspec-report">
    <h1><%= Inspec::Dist::PRODUCT_NAME %> report <span><code class="status-<%= report_extras['status'] %>" id="h1-report-id"><%= report_extras['report_id'] %></code></span></h1>

    <div class="inspec-summary">
      <table id="statistics" class="info">
        <tr><th colspan="2"><h4 id="statistics-label"><div class="tooltip">Control Statistics<span class="tooltiptext">A summary of all the controls in the report based on their results status.</span></div></h4></th></tr>
        <tr class="failed"><th><span class="status-failed">Failed:</span></th><td><b><%= report_extras['sums']['failed'] %></b></td></tr>
        <tr class="passed"><th><span class="status-passed">Passed:</span></th><td><b><%= report_extras['sums']['passed'] %></b></td></tr>
        <tr class="skipped"><th><span class="status-skipped">Skipped:</span></th><td><b><%= report_extras['sums']['skipped'] %></b></td></tr>
        <tr class="waived"><th><span class="status-waived">Waived:</span></th><td><b><%= report_extras['sums']['waived'] %></b></td></tr>
        <tr><th id="overall-status">
          <div class="tooltip">Overall Status<span class="tooltiptext">The overall status of the report taking into account the status of the profiles and controls that ran or that have been waived (ignored).</span></div>:</th><td><b><span class="status-<%= report_extras['status'] %>" id="overall-status-value"><%= report_extras['status'].capitalize %></span></b></td></tr>
        <!-- Not including for now until it's accurate -->
        <!-- <tr class= "duration"><th>Duration:</th><td><%= run_data.statistics.duration %> seconds</td></tr> -->
      </table>

      <table id="platform" class="info">
        <tr><th colspan=2><h4 id="platform-label"><div class="tooltip">Platform Information<span class="tooltiptext">Basic information about the platform being scanned and the software being used to do it.</span></div></h4></th></tr>
        <tr class= "name"><th><div class="tooltip">Name<span class="tooltiptext">The codename of the platform identified as the target of this report.</span></div>:</th><td><%= run_data.platform.name %></td></tr>
        <tr class= "release"><th><div class="tooltip">Release<span class="tooltiptext">The version of the platform identified as the target of this report.</span></div>:</th><td><%= run_data.platform.release %></td></tr>
        <tr class= "target"><th><div class="tooltip">Target<span class="tooltiptext">The target of this report. This can be local machine, a remote server, a could account, etc.</span></div>:</th><td><%= run_data.platform.target %></td></tr>
        <tr class= "date">
          <th>
            <div class="tooltip">Time<span class="tooltiptext">Report completion date and time displayed in the local timezone.</span></div>:
          </th><td><span id="report-time"><%= report_extras['end_time'] %></span></td>
        </tr>
        <tr class= "version"><th><div class="tooltip"><%= Inspec::Dist::PRODUCT_NAME.gsub(/Chef\s*/, "") %><span class="tooltiptext">The version of <%= Inspec::Dist::PRODUCT_NAME %> that was used to create this report.</span></div>:</th><td>v<%= run_data.version %></td></tr>
      </table>
    </div>

    <% run_data.profiles.each do |profile| %>
      <%= ERB.new(File.read(template_path + "/profile.html.erb"), nil, nil, "_prof").result(binding)  %>
    <% end %>

    </div>
  </body>
</html>
