<%
  control_id = 'c-' + '%07d' % control_index
  control_status = control_status(control, report_extras['profiles'][profile.sha256]['controls'][control.id]['sums'])

  if max_results_per_control < report_extras['profiles'][profile.sha256]['controls'][control.id]['sums']['total']
    # This is when we show less results than they are in total for the control
    results_shown = "#{max_results_per_control} / #{report_extras['profiles'][profile.sha256]['controls'][control.id]['sums']['total']}"
  else
    results_shown = report_extras['profiles'][profile.sha256]['controls'][control.id]['sums']['total']
  end
%>

<div class="control control-status-<%= control_status %> controls-<%= profile.sha256 %>" id="<%= control_id %>">

  <%
    # Determine range of impact
    i = control.impact || 0.0
    impact_level = "none"
    if i < 0.3
      impact_level = "low"
    elsif i < 0.7
      impact_level = "medium"
    else
      impact_level = "high"
    end
  %>

  <h3 class="control-title"><code>
    <% if control.title %>
      <%= control.title %>
    <% else %>
      <%= control.id %>
    <% end %>
  </code></h3>
  <table class="control-metadata info">
    <tr class="control-id"><th class="thl"><div class="tooltip">Id<span class="tooltiptext">The unique control id within this profile.</span></div>:</th><td><%= control.id %></td></tr>
    <tr class="status"><th class="thl"><div class="tooltip">Status<span class="tooltiptext">The overall status of the control taking into account the status of its results and any waivers (ignore conditions) applied for it.</span></div>:</th><td><b><span class="status-<%= control_status %>"><%= control_status.capitalize %></span></b></td></tr>
    <% if control.desc %>
      <tr class="desc"><th class="thl"><div class="tooltip">Desc.<span class="tooltiptext">The description of the control as defined in the profile.</span></div>:</th><td><%= control.desc %></td></tr>
    <% end %>
    <% if control.impact %>
      <tr class="impact impact-<%= impact_level %>"><th class="thl"><div class="tooltip">Impact<span class="tooltiptext">The criticality of the control expressed as a number between 0.0 and 1.0, with a value &lt; 0.4 being considered 'LOW', a value &lt; 0.7 being considered 'MEDIUM' otherwise 'HIGH'.</span></div>:</th><td><%= control.impact %></td></tr>
    <% end %>
    <% unless control.tags.empty? %>
      <tr class="tags">
        <th class="thl">Tags:</th>
        <td>
          <table class="tags">
            <% control.tags.each do |tag_name, tag_text| %>
              <tr><td><%= tag_name %></td><td><%= tag_text %></td></tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>
    <% unless control.refs.empty? %>
      <tr class="refs">
        <th class="thl">References:</th>
        <td>
          <ul>
          <% control.refs.each do |r| %>
            <li><a href="<%= r.url %>"><%= r.ref %></a></li>
          <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    <tr class="code">
      <th class="thl"><tr class="desc"><th class="thl"><div class="tooltip">Code<span class="tooltiptext">The source code of the control as defined in the profile.</span></div>:</th>
      <td>
        <input type="button" class="show-source-code" id="show-code-<%= control_id %>" value="Show Source Source"/>
        <input type="button" class="hide-source-code hidden" id="hide-code-<%= control_id %>" value="Hide Source Source"/>
        <pre class="source-code hidden prettyprint" id="source-code-<%= control_id %>"><code class="language-ruby"><%= control.code.strip %></code></pre>
      </td>
    </tr>
  <!-- TODO waiver data -->
  </table>

  <% if control.results.length > 0 %>
    <div class="results-header">
      <h4 class="results-label" id="results-<%= profile.sha256 %>-<%= control_id %>" onclick="resultsClicked(this)">▼ Results (<%= results_shown %>):</h4>
      <span class="line-stats-results">
        <span class="status-failed roundy-result">F</span> <%= report_extras['profiles'][profile.sha256]['controls'][control.id]['sums']['failed'] %>
        <span class="status-passed roundy-result">P</span> <%= report_extras['profiles'][profile.sha256]['controls'][control.id]['sums']['passed'] %>
        <span class="status-skipped roundy-result">S</span> <%= report_extras['profiles'][profile.sha256]['controls'][control.id]['sums']['skipped'] %>
      </span>
    </div>
    <% control.results.each_with_index do |result,result_index| %>
      <%= ERB.new(File.read(template_path + "/result.html.erb"), nil, nil, "_rslt").result(binding)  %>
    <% end %>
  <% end %>

</div>
