<%
  display_name = profile.title || profile.name
%>
<div class="profile <%= profile.parent_profile ? "child-profile hidden" : "" %>" id="profile-<%= CGI.escapeHTML(profile.name) %>">
  <h2 class="profile-title"><div class="tooltip">Profile<span class="tooltiptext">One of the profiles used to generate this report. Each profile can have one or multiple controls. Each control can have one or multiple results.</span></div>: <%= CGI.escapeHTML(display_name) %></h2>

  <table class="profile-metadata info" id="profile-metadata-<%= CGI.escapeHTML(profile.name) %>">
    <tr class="profile-name"><th class="thl"><div class="tooltip">Name<span class="tooltiptext">The short profile 'name' as defined in the profile metadata.</span></div>:</th><td><%= CGI.escapeHTML(profile.name) %></td></tr>
    <tr class="profile-version"><th class="thl"><div class="tooltip">Version<span class="tooltiptext">The profile 'version' as defined in the profile metadata.</span></div>:</th><td><%= CGI.escapeHTML(profile.version) %></td></tr>
    <tr class="profile-sha256"><th class="thl"><div class="tooltip">SHA-256<span class="tooltiptext">The unique profile SHA 256 hash generated from the profile content. If the controls of a profile are being changed, it will lead to a new SHA-256 hash even if the profile name and version don't change.</span></div>:</th><td><%= CGI.escapeHTML(profile.sha256) %></td></tr>
    <% if profile.summary %>
    <tr class="profile-summary"><th class="thl">Summary:</th><td><%= CGI.escapeHTML(profile.summary) %></td></tr>
    <% end %>
    <tr class="profile-summary"><th class="thl"><div class="tooltip">Status<span class="tooltiptext">The overall status of the profile taking into account the status of its controls, ran or waived (ignored).</span></div>:</th><td><b><span class="status-<%= report_extras['profiles'][profile.sha256]['status'] %>"><%= CGI.escapeHTML(report_extras['profiles'][profile.sha256]['status'].capitalize) %></span></b></td></tr>
    <% if profile.status == 'skipped' && profile.status_message %>
    <tr class="profile-skip-message"><th class="thl"><span class="status-skipped">Skip Message:</span></th><td><%= CGI.escapeHTML(profile.status_message) %></td></tr>
    <% end %>
    <% if profile.status == 'failed' && profile.status_message %>
    <tr class="profile-fail-message"><th class="thl"><span class="status-failed">Fail Message:</span></th><td><%= CGI.escapeHTML(profile.status_message) %></td></tr>
    <% end %>


    <% if profile.controls.length > 0 %>
      <tr class="profile-controls">
        <td colspan="2" id="controls-<%= profile.sha256 %>">
          <div class="controls-header">
            <h3 class="controls-label" id="label-controls-<%= profile.sha256 %>" onclick="controlsClicked(this)">▼ Controls (<%= "#{profile.controls.length} / #{profile.controls.length}" %>) </h3>
            <span class="line-stats">
              <span class="status-failed roundy">F</span> <%= report_extras['profiles'][profile.sha256]['sums']['failed'] %>
              <span class="status-passed roundy">P</span> <%= report_extras['profiles'][profile.sha256]['sums']['passed'] %>
              <span class="status-skipped roundy">S</span> <%= report_extras['profiles'][profile.sha256]['sums']['skipped'] %>
              <span class="status-waived roundy roundy-w">W</span> <%= report_extras['profiles'][profile.sha256]['sums']['waived'] %>
            </span>
          </div>
          <% profile.controls.each_with_index do |control,control_index| %>
            <%= ERB.new(File.read(template_path + "/control.html.erb"), nil, nil, "_ctl").result(binding)  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
