<%
  result_id = 'r-' + '%07d' % result_index
%>

<div class="result results-<%= profile.sha256 %>-<%= control_id %>" id="<%= result_id %>">
  <h4 class="resource-title"><code><%= result.resource_title.to_s %></code></h4>
  <table class="result-metadata info">
    <tr class="expectation_message"><th class="thl">Condition:</th><td><code><%= result.expectation_message %></code></td></tr>
    <tr class="status"><th class="thl">Status:</th><td><span class="status-<%= result.status %>"><%= result.status.capitalize %></span></td></tr>
    <% if result.status == "failed" %>
    <tr class="fail_message"><th class="thl">Fail Message:</th><td><code><%= result.message %></code></td></tr>
    <% end %>
    <% if result.status == "skipped" %>
    <tr class="skip_message"><th class="thl">Skip Message:</th><td><%= result.skip_message %></td></tr>
    <% end %>
    <tr class="duration"><th class="thl">Duration:</th><td><%= result.run_time %> seconds</td></tr>
  </table>
</div>
