<%
  result_id = 'r-' + '%07d' % result.backtrace
%>

<div class="result results-<%= profile.sha256 %>-<%= control_id %> <%= result_index < max_results_per_this_control ? "" : "hidden" %>" id="<%= result_id %>">
  <h4 class="resource-title">
    <code>
      <%=
        if (result.resource_title.to_s =~ /(.*?['"])(.*?)(['"].*)/)
          CGI.escapeHTML("#{$1}")+'<span class="quoted-resource">'+CGI.escapeHTML("#{$2}")+'</span>'+CGI.escapeHTML("#{$3}")
        else
          CGI.escapeHTML(result.resource_title.to_s)
        end
      %>
    </code>
  </h4>
  <table class="result-metadata info">
    <tr class="expectation_message"><th class="thl">Condition:</th><td>
      <code>
        <%=
          expectation = result.expectation_message.to_s
          if (result.expectation_message.to_s =~ /(.*)(to be in|to be|to eq|to match|to cmp|expected to|control due to) (.*)/)
            expectation = CGI.escapeHTML("#{$1}#{$2}")+' <span class="quoted-condition">'+CGI.escapeHTML("#{$3}")+'</span>'
          elsif (expectation =~ /(.*?['"])(.*?)(['"].*)/)
            expectation = CGI.escapeHTML("#{$1}")+'<span class="quoted-condition">'+CGI.escapeHTML("#{$2}")+'</span>'+CGI.escapeHTML("#{$3}")
          end
          if (expectation =~ /(.*)(expected not to)(.*)/)
            expectation = "#{$1}expected <span class=\"not-condition\">not</span> to#{$3}"
          end
          expectation
        %>
      </code>
    </td></tr>
    <tr class="status"><th class="thl">Status:</th><td><span class="status-<%= result.status %>"><%= CGI.escapeHTML(result.status.capitalize) %></span></td></tr>
    <% if result.status == "failed" %>
    <tr class="fail_message"><th class="thl">Fail Message:</th><td><code><%= CGI.escapeHTML(result.message) %></code></td></tr>
    <% end %>
    <% if result.status == "skipped" %>
    <tr class="skip_message"><th class="thl">Skip Message:</th><td><%= CGI.escapeHTML(result.skip_message) %></td></tr>
    <% end %>
    <tr class="duration"><th class="thl">Duration:</th><td class="result-duration"><%= CGI.escapeHTML(result.run_time.to_s) %> seconds</td></tr>
  </table>
</div>
